#titre{

    color: red;
    font-weight: bold;
    margin-right: 10%;
}

#search{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

a{

    color: black;
}
a:hover{

    color: red;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover{

    color: red;
}
.btn.btn-dark:hover{

    color: red;
}